.canvasContainer {
}
.thumbnail-container {
    overflow-y: scroll;
}

.thumbnailContainer {
    background-color: #DDD;
    margin: 5px;
}

.index-input {
    margin: 0px;
    height: 25px;
    width: 36px;
    font-family: monospace;
}

.pdfCanvas {
    margin:3px;
    border:1px solid #DDD;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
}